Makefile
Makefile.in
aclocal.m4
autom4te.cache
citrus.pc
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
lemon
lemon.dSYM
ltmain.sh
missing
version.h
*.o
.deps/
stamp-h1
*.in~

build/
xcuserdata/